#/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
# Ignore everything in the "vendor" directory, except the "sfThumbnailPlugin" directory
/vendor/*
!/vendor/sfThumbnailPlugin
# Ignore everything in the "bundles" directory, except the "mapescms" directory
/web/bundles/*
!/web/bundles/mapescms
/web/bundles/mapescms/js/ckeditor/plugins/pdw/pdw_file_browser/cache/*
/web/bundles/mapescms/js/ckeditor/plugins/pdw/pdw_file_browser/session_keys.txt
!/uploads/galleries
/uploads/galleries/*


