{% extends 'MapesCMSBundle::layout.html.twig' %}


    
{% block content %}

	<h1>{{ custom_form.thankyoutitle }}</h1>

	{{ custom_form.thankyoucontent | raw }}
        
{% endblock %}
        

        

        
        
 