{% extends 'MapesCMSBundle::layout.html.twig' %}

    
{% block content %}

    <h1>Retrieve password</h1>

	{% if found == false and email %}
		<p>We're sorry, we can't find an account with this email address: {{email}}</p>
	{% endif %}
	
	{% if found == false %}
		<p>	Please enter your email below:</p>
		<form action="{{ path('user_forgot') }}" method="post">

			<input type="text" name="email" required class="form-control"/> <input type="submit" class="button" value=Retrieve password" />

		</form>
		
	{% else %}
		<p>An email has been sent to your email address. Please check your email address for your new password.</p>
	
	{% endif %}
{% endblock %}