{% extends 'MapesCMSBundle::layout.html.twig' %}


    
{% block content %}

	<h1>Thank you for joining us</h1>

	
        <a href="/" class="button small">Homepage</a>
        <a href="{{path('user_login')}}" class="button small">Login</a>
        
{% endblock %}
        

        

        
        
 