<ul id="nav" class="nav-bar">
                        <li><a href='/'>Home</a></li>
                
                        <li class="has-flyout">
                                <a href='#'>Menu 1</a>

                                <!-- Flyout code -->
                                <a href="#" class="flyout-toggle"><span> </span></a>
                                <ul class="flyout">
                                    <li><a href="#">Sub Nav 1</a></li>
                                    <li><a href="#">Sub Nav 2</a></li>
                                    <li><a href="#">Sub Nav 3</a></li>
                                </ul>

                        </li>

                        <li><a href='/gallery'>Gallery</a></li>

                        <li><a href='/media'>Media</a></li>

                        <li><a href='/blog'>Blog</a></li>

                        <li><a href='/form/feedback'>Contact Us</a></li>              

</ul>